<div class="userProfile">
  <div id="userImage">
    <img src="<%= user.photoUrl %>" alt="profile picture" id="profile-pic">
  </div>
  <div id="userInfo">
    <h2>Hello <%= user.username %>!</h2>
    <hr>
    <p><strong>Full Name:</strong><%= user.firstname %> <%= user.lastname %></p>
    <p><strong>Admin Status:</strong> <%= user.admin ? 'Yes' : 'No' %></p>
    <p>Location: <%= user.location%></p>
  </div>
    <div id="gardenList">
      <h2>My Gardens:</h2>
      <% if (user && user.gardens) { %>
        <% user.gardens.forEach(function(a) { %>
          <div>
            <h2>
              <a href="/gardens"><%= a.name %></a>
            </h2>
          </div>
        <% }) %>
      <% } %>
    </div>
</div>