<div class="gardens">
	<div class="gardenInfo">
			<% if (user && user.gardens) { %>
			<% user.gardens.forEach(function(a) { %>
				<div class="mygarden-info">
				<h2>myGarden Name: <%= a.name %> </h2>
					<p id="gLocation">Location: <%= a.location %> </p>
					<p id="gAspect">Aspect: <%= a.aspect %></p>
					<p id="gExposure">Exposure: <%= a.exposure %></p>
					<p id="gSoilType">Soil Type: <%= a.soilType %></p>
					<p id="gMoisture">Moisture Level: <%= a.moistureLevel %></p>
					<form method="POST">
						<button type="submit">DELETE GARDEN</button>
					</form>
					<hr>
			</div>
			<% }) %>
		<% } %>
	</div>
</div>